body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: red;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
}
<<<<<<< HEAD
=======

header h1 {
    margin: 0;
    font-size: 28px;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

>>>>>>> 2c3d6bf943195f94ce0ec9c43baa441ba4eef0b0
.principal img {
    width: 232px;
    height: 131px;
    object-fit: cover;
    border: 5px solid red;
    border-radius: 20px;
}

.familia {
    display: flex;
    justify-content: center;
    gap: 30px;
<<<<<<< HEAD
    margin-bottom: 18px;
    
    
=======
    margin-bottom: 20px;
>>>>>>> 2c3d6bf943195f94ce0ec9c43baa441ba4eef0b0
}

.familia img {
    width: 399px;
    height: 451px;
    object-fit: cover;
    border: 5px solid red;
}
