body{
    background-color: black;
}
header{
    width: 1278px;
    height: 149px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background: red;
    border-radius: 32px;
    text-align: center;
}
header h1{
    text-align: center;
    font-size: 32px;
    color: white;
    top: 46px;
    position: relative;
}
section.principal {
    text-align: center;
}
.principal img {
    position: relative;
    top: 30px;
    width: 232px;
    height: 131px;
    border: 10px solid red;
    display: flex;
    object-fit: cover;
    justify-content: center;
    gap: 30px;
    margin-bottom: 18px;
    border-radius: 25px;
}